extends layout

block content

  h1= title
  p Welcome Back #{currentUser.email}


  h2 It All Starts With A Step
  div.title
    h3 Your Steps
    for todo in todos
      table

          //- h2 Step:
          //- span= todo.description
          td Note:
              span= todo.note
          td
              span= todo.due_date
          tr
            h2 Step
            span= todo.description
              if todo.completed
                input.checkbox-link(type='checkbox' data-href="/todos/"+todo.id+"/uncomplete" checked)
              else
                input.checkbox-link(type='checkbox' data-href="/todos/"+todo.id+"/complete")
              a.button.button-link(type='button' data-href="/todos/"+todo.id+"/delete") DELETE


  h4 Make a Todo
  include ./_new_todo_form
  div
    button.btn(type='button')
      a(href="/logout") Logout
