extends layout

block content

  h1= title
  p Welcome Back #{currentUser.email}


  h2 It All Starts With A Step
  div.title
    h3 Your Steps
    for todo in todos
      div

        span(style='font-size: 20px')= todo.description

          //- h2 Step:
        div.note
          div
              span(style='font-style: italic')= todo.note
          div
              span(style='font-size: 13px')= humanizeDate(todo.due_date)
          div
            if todo.completed
              input.checkbox-link(name=Math.random() type='checkbox' data-href="/todos/"+todo.id+"/uncomplete" checked='checked')
            else
              input.checkbox-link(type='checkbox' data-href="/todos/"+todo.id+"/complete")

            a.button.button-link(name=Math.random() type='button' data-href="/todos/"+todo.id+"/delete") DELETE

    p Completed Steps
      for todo in todos
        div
          if todo.completed
            span= todo.description


    .row
      .col-xs-6
      .col-sm-4
          h4 Make a Todo
            include ./_new_todo_form
            div.btn
              button.btn(type='button')
                a(href="/logout") Logout
